.home {
  margin: 10px;
  .heading {
    color: #515151;
    text-align: center;
  }
  .quote {
    background-color: #fffdd0;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    p {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: sans-serif;
    }
    button {
      background-color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      color: #777aa0;
      &:hover {
        background-color: #dddddd;
        color: #333990;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
